DICTIONARY

In [11]:
# Dictionary are mutuable datatypes
# It is key-value pair
# No index position
# key - Unique
# Value - can be unique or duplicate
# initialise with curly brackets {}

In [12]:
names = {'navya':890765432,'charu':789632415}
type(names)

dict

In [13]:
print(names['navya'])

890765432

In [14]:
# Updating value

names['navya'] = 9568231475
print(names)

{'navya': 9568231475, 'charu': 789632415}

In [33]:
# Inserting new pair

names['kajal'] = 5896247895
print(names)

{'navya': 9568231475, 'charu': 789632415, 'kajal': 5896247895}

In [34]:
# Deleting a pair

a = names.pop("kajal")
print(names)
print(a)

{'navya': 9568231475, 'charu': 789632415}
5896247895

In [23]:
names.get('ok')

In [32]:
print(names.keys())
print(names.values())

dict_keys(['navya', 'charu'])
dict_values([9568231475, 789632415])

In [31]:
mydict = {'a':1000,'b':2000,'a':7000}
print(mydict)
mydict['a']=mydict['a']+5000
print(mydict)

{'a': 7000, 'b': 2000}
{'a': 12000, 'b': 2000}

In [30]:
d ={'total':0}
for i in range(1,88):
    if i%2==0:
        d['total']=d['total']+1
print(d)

{'total': 43}

In [38]:
mydict = {'b':2000,'a':7000}
print('a' in mydict)
print('c' not in mydict)

True
True

In [44]:
# Check the occurence of element in a list and insert in dictionary

li = [10,20,30,10,40,50]
mydict = {}
for i in range(len(li)):
    count = 1
    temp = li[i]
    if temp not in mydict:
        mydict[temp] = count
    else:
        mydict[temp] = count+1

print(mydict)

{10: 2, 20: 1, 30: 1, 40: 1, 50: 1}

In [ ]:
# count the occurence of vowels 

s = 'aeibujiaa'
d={}
for i in s:
    if i in'aeiou':
        if i not in d:
            d[i]=1
        else:
            d[i]=d[i]+1

print(d)

{'a': 3, 'e': 1, 'i': 2, 'u': 1}

In [5]:
# Two sum problem

a=[3,5,7,11,16,27]
target = 21
mydictionary={}
for i in range(len(a)):
    data=a[i]   
    if data not in mydictionary:
        mydictionary[data]=i
print(mydictionary)

for x in mydictionary:
    val = mydictionary[x]
    if (target-x in mydictionary):
        print('We found value:',mydictionary[target-x],val)

{3: 0, 5: 1, 7: 2, 11: 3, 16: 4, 27: 5}
We found value: 4 1
We found value: 1 4

In [1]:
# DICTIONARY COMPHREHENSION

{i:1 for i in range(1,6) if i%2==0}

{2: 1, 4: 1}

In [4]:
a={x:x**2 for x in range(1,6)}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}