FUNCTIONS

In [5]:
b = 500      # Global variable

def test():  # To declare a fucntion
    a = 100  # Local variable(local life scope of a variable)
    print('hey',a,b)

test()       # To call a function
print(b)

hey 100 500
500

In [ ]:
def func(x):  # x is a parameter 
    print('Hey user',x,'welcome!')

func('Navya')  # Navya is a argument

Hey user Navya welcome!

In [8]:
def table(num):
    for i in range(1,11):
        print(f'Table of {num} is:',num*i)

table(8)

Table of 8 is: 8
Table of 8 is: 16
Table of 8 is: 24
Table of 8 is: 32
Table of 8 is: 40
Table of 8 is: 48
Table of 8 is: 56
Table of 8 is: 64
Table of 8 is: 72
Table of 8 is: 80

Types of argument passing

In [13]:
# 1. Required argument - It is a type a argument where the no. of arguments should be equal to no. of parameters

def func(a,b,c):
    print(f'a:{a}, b:{b}, c:{c} ')

func(10,20,30)

a:10, b:20, c:30

In [ ]:
# 2. Position Argument - Based on position, value is passed

def func(a,b,c):
    print(f'a:{a}, b:{b}, c:{c} ')

func(20,10,30)

a:20, b:10, c:30

In [14]:
# 3. Keyword argument - We specify which arguments value is going to store in which varibale

def func(a,b,c):
    print(f'a:{a}, b:{b}, c:{c} ')

func(b=20,a=10,c=30)

a:10, b:20, c:30

In [17]:
# 4. Default arguments - It takes a value by default during function declaration

def func(a,b,c=50):
    print(f'a:{a}, b:{b}, c:{c} ')

func(b=20,a=10)
func(b=20,a=10,c=8)

a:10, b:20, c:50
a:10, b:20, c:8

In [ ]:
# 5. Varibale length argument(*args) - It run based on the context, we can insert any number of value in this, it accepts the value in form of tuple

def func(*info):
    print(info)

func("Navyajain",8,28,'tjain')

('Navyajain', 8, 28, 'tjain')

In [ ]:
# 6. keyword Varibale length argument(**kwargs) - It accepts the data in form of key-value, it accepts the value in form of dictionary

def func(**info):
    print(info)

func(name='Navya',email='navyajain@123')

{'name': 'Navya', 'email': 'navyajain@123'}

In [30]:
def shadi(x):
    print('Hey shadi wale amount is:',x)
    return(x+200,'saree')
    print('Gold chain')  # will never return or print after return

out=shadi(100)     # this variabvle stores the return value from function
print('out:',out)

Hey shadi wale amount is: 100
out: (300, 'saree')

In [32]:
def prime(num):
    for i in range(2,num):
        if num%2==0:
            return 'Not prime'
    return 'Prime'

prime(8)

'Not prime'

In [ ]:
def lcm(num,num2):
    if num>num2:
        c=num
    else:
        c=num2

    while(true):

FIRST CLASS FUNCTIONS

In [ ]:
# FIRST CLASS FUNCTIONS Characteristics:

#1. Functions can be assigned to a variable

def func():
    print('Hello')

a = func()   
print('a:',a)  #it will return none because our function func is not returning anything and it is not first class because we are calling function not assigning

a=func    #a has the function memory address (function assinged to a variable) so this is first class function
print('a:',a)

Hello
a: None
a: <function func at 0x000001C88964C900>

In [ ]:
#2. Functions can be passed as a argument to another function

def func():
    print('Hello')

def abc(x,y):
    print('inside',x,y)

abc(10,func)

inside 10 <function func at 0x000001C889043BA0>

In [11]:
def square(num):
    return(num**2)

def cube(a,b):
    print('func:',a*b(a))

cube(10,square)

func: 1000

DECORATORS

In [27]:
# Old way to use a decorator

def outer_func(z):
    def inner_func():
        print('Inner hey',z().upper())
        
    return inner_func


def test():
    return('navya jain')

test=outer_func(test)
test()

Inner hey NAVYA JAIN

In [26]:
#New way to use a decorator

def outer_func(z):
    def inner_func():
        print('Inner hey',z().upper())

    return inner_func

@outer_func
def test():
    return('navya jain')

test()

Inner hey NAVYA JAIN

LAMBDA FUNCTION

In [7]:
a=lambda x:x+10
a(10)

20

In [8]:
mylist = [10,20,lambda *x:'hello']
mylist[-1]()

'hello'

In [1]:
x=map(len,['hey','navya'])

In [2]:
next(x)

3

In [3]:
next(x)

5

In [7]:
def func(data):
    return 'Mr ' +data

In [8]:
newlist=['Tanishq','amit','ashok']
a=map(func,newlist)

In [9]:
next(a)

'Mr Tanishq'

In [10]:
b=map(lambda data:'Mr '+data,newlist)

In [11]:
next(b)

'Mr Tanishq'

In [12]:
newlist=[10,14,23,21,56,54,33]
out_map=list(map(lambda data:data%2==0,newlist))
print(out_map)

[True, True, False, False, True, True, False]

In [13]:
newlist=[10,14,23,21,56,54,33]
out_map=list(filter(lambda data:data%2==0,newlist))
print(out_map)

[10, 14, 56, 54]

In [14]:
x = 1
for i in range(1, 6):
    x *= i
    if x > 10:
        break
print(x)

24

In [15]:
x = 0
for i in range(1, 6):
    for j in range(i):
        x += i
print(x)

55

In [16]:
x = 0
for i in range(3, 0, -1):
    for j in range(1, 4):
        if i == 2:
            break
        x += i
print(x)

12

In [19]:
# Write a Python function to find the maximum of three numbers.

def max(a,b,c):
    if a>b:
        if a>c:
            return(f'{a} is maximum')
    elif b>c:
        return(f'{b} is maximum')
    else:
        return(f'{c} is maximum')
    
max(100,23,27)

'100 is maximum'

In [ ]:
# Write a Python function to sum all the numbers in a list.

li=[2,6,4,12,3]
def sum_list(list):
    sum=0
    for i in list:
        sum+=i
    return sum

sum_list(li)

27

In [25]:
# Write a Python function to multiply all the numbers in a list.

li=[2,6,4,12,3]
def product_list(list):
    product=1
    for i in list:
        product*=i
    return product

product_list(li)

1728

In [39]:
# Write a Python program to reverse a string.

s="1234abcd"
def reverse_string(str):
    for i in range(len(s)-1,-1,-1):
        temp=s[i]
        print(temp,end='')   
reverse_string(s)

dcba4321

In [61]:
strs = ["flower","flow","flight"]
a=0
li=[]
empty=[]
for i in range(len(strs)):
    count=0
    temp=strs[i]
    for j in range(len(strs)):
        next=strs[j]
        if temp==next:
            continue
        for k in range(0,2):
            if temp[k]==next[k]:
                count+=1
                if temp[k] not in li:
                  li.append(temp[k])

            if count==2:
                a+=1
                break
if a==len(strs):
   print(li)
else:
    print(empty)

['f', 'l']

In [ ]:
strs = ["flower","flow","flight"]
i=0
a=0
j=0
while(i<len(strs)):
    count=0
    temp=strs[i]
    next=strs[j]
    if temp==next:
        j+=1
        continue
    k=0
    if temp[k]==next[k]:
        count+=1

    if count>=2:
        j+=1
        a+=1
        continue
    else:
        k+=1

    if j==len(strs):
        i+=1
        j=0

print(a)

KeyboardInterrupt:

In [59]:
strs = ["flower","flow","flight"]
i = 0
a = 0
j = 0

while i < len(strs):
    if j >= len(strs):   # reset and move to next i
        i += 1
        j = 0
        continue

    temp = strs[i]
    next = strs[j]

    if temp == next:
        j += 1
        continue
    k = 0
    while k < len(temp) and k < len(next) and temp[k] == next[k]:
        k += 1

    if k == 2:
        a += 1

    j += 1

print(a)

4

In [66]:
def func(num):
    num_dup=num
    num2=num
    sum=0
    count=0
    dict={}
    last_digit=0
    while(num>0):
        num//=10
        count+=1

    while(num_dup>0):
        last_digit=num_dup%10
        power=10*count-1
        last_digit*=power
        sum+=last_digit
        num_dup//=10
        count-=1

    if sum==num2:
        dict[num2]=True
    else:
        dict[num2]=False

    return dict

func(1221)

{1221: False}

In [ ]:
str='hello hey computer science new'
li=str.split()
k=4
new_li=[]
for i in range(len(li)):
    temp=li[i]
    if len(temp)>k:
        new_li.append(temp)

print(' '.join(new_li))

hello computer science

In [72]:
str ='ababa'
d={}
for i in range(1,len(str)*2):
    i%=len(str)
    for j in range(i):
        temp=str[i]
        li=[]
        li.append(temp)
    s=''.join(li)
    for k in range(len(str)):
        count=0
        next=str[i]
        if s==next:
            count+=1

    d[s]=count
print(d)

{'b': 1, 'a': 1}

In [31]:
def decorate(func):
    def a():
        print('Function started')
        func()
        print('Function ended')

    return a

@decorate
def greet():
    print('Hello world!')

greet()

Function started
Hello world!
Function ended

In [ ]:
def log_args(func):
    def args():

In [30]:
def square_result(func):
    def answer():
        a=func()
        return a**2
    
    return answer
    


@square_result
def get_num():
    return 5

get_num()

25

In [37]:
def repeat(num):
    def decorate(func):
        def a():
            for i in range(num):
                func()
        return a
    return decorate

@repeat(4)
def greet():
    print("Hi!")

greet()

Hi!
Hi!
Hi!
Hi!

In [34]:
def uppercase(func):
    def a():
        b=func()
        return b.upper()

    return a

def exclamation(func):
    def a():
        b=func()
        return b+'!'

    return a 

@uppercase
@exclamation
def greet():
    return "hello"

greet()

'HELLO!'