PATTERNS

In [1]:
#Square pattern

for i in range(5): #rows
  for j in range(5):  #columns
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
for i in range(1,5):
    for j in range(1,5):
        print(i,end=' ')
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [6]:
temp = 6
for i in range(1,5):
    for j in range(1,4):
        print(temp,end=' ')
    temp+=1   
    print()

6 6 6
7 7 7
8 8 8
9 9 9

In [8]:
temp = 7
for i in range(1,4):
    for j in range(1,4):
        print(temp,end=' ')
    temp+=1
    print()

7 7 7
8 8 8
9 9 9

In [11]:
for i in range(1,5):
    for j in range(1,5):
        if(j<=i):
            print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [13]:
temp = 4
for i in range(1,4):
    for j in range(1,4):
        if j<=i:
            print(temp,end=' ')
            temp+=1
    print()

4
5 6
7 8 9

In [34]:

for i in range(5,1,-1):
    temp = 1
    for j in range(5,1,-1):
        if j<=i:
          print(temp,end=' ')
          temp+=1

    print()

1 2 3 4
1 2 3
1 2
1

In [35]:
temp = 1
for i in range(1,4):
   
    for j in range(4,0,-1):
        if i<=j:
          print(temp,end='')
          temp+=1

    print()

1234
567
89

In [19]:
temp = 1
for i in range(1,5):
   
    for j in range(1,6):
        if j<=i:
          print(temp,end=' ')
          temp+=1

    print()

1
2 3
4 5 6
7 8 9 10

In [24]:
temp = 4
for i in range(1,4):
   
    for j in range(1,4):
        if j<=i:
          print(temp,end=' ')
          temp+=2

    print()

4
6 8
10 12 14

In [ ]:

for i in range(4,0,-1):
   
    for j in range(1,5):
        if j <=i:
          if j%2==0:
            print(0,end='')
          else:
            print(1,end='')
            
    print()

1010
101
10
1

In [7]:
for i in range(5): #rows
  for j in range(5):  #columns
    if(j<=i):
      print("* ",end="")
  print()

*
* *
* * *
* * * *
* * * * *

In [2]:
for i in range(1,5): #rows
  for j in range(1,5):  #columns
    if(j<=i):
      print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [3]:
for i in range(1,5): #rows
  for j in range(1,5):  #columns
    if(j<=i):
      print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4

In [4]:
temp = 1
for i in range(1,5): #rows
  for j in range(1,5):  #columns
    if(j<=i):
      print(temp,end=" ") 
      temp+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [41]:
for i in range(1,5):
    for j in range(4,i,-1):
        print("*",end=' ')
   
    for j in range(1,i+1):
        if j<=i:
            print(j,end=' ')
        temp+=1
    print()

* * * 1
* * 1 2
* 1 2 3
1 2 3 4

In [5]:
for i in range(5,0,-1): #rows
  for j in range(1,i+1):  #columns
      print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [10]:
for i in range(4,0,-1):
  for j in range(4):
    if(i>j):
      print("* ",end='')
  print()

* * * *
* * *
* *
*

In [11]:
for i in range(5):
  for j in range(5,0,-1):
    if(i>=j):
      print("* ",end='')
    else:
        print("  ",end='')


  for j in range(5):
    if (i>=j):
      print("* ",end='')
    else:
        print("  ",end='')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [12]:
for i in range(5,0,-1):
  for j in range(5,0,-1):
    if(i>j):
      print("* ",end='')
    else:
        print("  ",end='')
  


  for j in range(5):
    if (i>j):
      print("* ",end='')
    else:
        print("  ",end='')
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
#RHOMBUS PATTERN

for i in range(5):   #for rows
    for s in range(4):   #for spaces
        if(s<i):
            print(" ",end='')
    for j in range(1,5):    #for columns
        print("* ",end='')
    print()

* * * *
 * * * *
  * * * *
   * * * *
    * * * *

In [2]:
for i in range(1,8):
    for j in range(1,7):
        if(i==1 or  i==7 or (i==3 or i==5 )and (j==1 or j==6 ) ):
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * * *

*         *

*         *

* * * * * *

In [ ]:

for i in range(5):
    ch = 65
    for j in range(5):
        if(j<=i):
            print(chr(ch),end=' ')
            ch+=1
    print()

A
A B
A B C
A B C D
A B C D E

In [1]:
temp = 65
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print(chr(temp),end=' ')
    temp+=1
    print()

A
B B
C C C
D D D D
E E E E E

In [39]:

for i in range(5):
    ch = 69
    ch-=i
    for j in range(5):
        if(j<=i):
            print(chr(ch),end=' ')
            ch+=1
    print()

E
D E
C D E
B C D E
A B C D E

In [42]:
for i in range(6):
    for j in range(6,0,-1):
        if(j<=i):
            print('* ',end='')
        else:
            print("  ",end='')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [44]:
for i in range(6):
    temp = 1
    for j in range(6,0,-1):
        if(j<=i):
            print(temp,end=' ')
            temp+=1
        else:
            print("  ",end='')
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [3]:
for i in range(5,0,-1):
    temp = 1
    for j in range(5,0,-1):

        if i>=j:
            print(temp,end=" ")
            temp+=1
        else:
            print(" ",end=' ')
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [2]:
for i in range(5,0,-1):
    temp = 65                  # 65 is the ascii value of A
    for j in range(5,0,-1):

        if i>=j:
            print(chr(temp),end=" ")
            temp+=1
        else:
            print(" ",end=' ')
    print()

A B C D E
  A B C D
    A B C
      A B
        A

In [8]:
for i in range(1,6):   #for rows
    for s in range(4,0,-1):   #for spaces
        if(s>=i):
            print(" ",end='')
    for j in range(1,5):    #for columns
        print("* ",end='')
    print()

    * * * *
   * * * *
  * * * *
 * * * *
* * * *

In [13]:
for i in range(1,6):   #for rows
    for s in range(4,0,-1):   #for spaces
        if(s>=i):
            print(" ",end='')
    temp = 1
    for j in range(1,6):    #for columns
        print(temp,end=' ')
        temp+=1
    print()

    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5
1 2 3 4 5

In [32]:
for i in range(1,6):   #for rows
    for s in range(4,0,-1):   #for spaces
        if(s>=i):
            print(" ",end='')
    temp = 65
    for j in range(1,6):    #for columns
        print(chr(temp),end=' ')
        temp+=1
    print()

    A B C D E
   A B C D E
  A B C D E
 A B C D E
A B C D E

In [59]:
# Traingle

for i in range(5):
    for j in range(4,0,-1):
        if(j<=i):
            print("*",end='')
        else:
            print(" ",end='')
    for j in range(2,5):
        if j<=i:
            print("*",end='')
        else:
            print(" ",end='')
    print()

   *
  ***
 *****
*******

In [76]:
# Hollow traingle

for i in range(5):
    for j in range(4,0,-1):
        if i==4 or j==i:
            print("*",end='')
        else:
            print(" ",end='')
    for j in range(2,5):
        if j==i or i==4:
            print("*",end='')
        else:
            print(" ",end='')
    print()

   *
  * *
 *   *
*******

In [60]:
# Inverted traingle

for i in range(4,-1,-1):

    for j in range(4,0,-1):
        if j<=i:
            print("*",end='')
        else:
            print(" ",end='')
    
    for j in range(2,5):
        if j<=i:
            print("*",end='')
        else:
            print(" ",end='')
    print()

*******
 *****
  ***
   *

In [49]:
# Right side traingle

for i in range(1,5):
    for j in range(1,5):
        if j<=i:
            print("* ",end='')
        else:
            print("  ",end="")
    print()

for i in range(3,0,-1):
    for j in range(1,5):
        if j<=i:
            print("* ",end='')
        else:
            print("  ",end="")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [46]:
# Left side traingle

for i in range(1,5):
    for j in range(4,0,-1):
        if j<=i :
            print("* ",end='')
        else:
            print("  ",end="")
    print()

for i in range(3,0,-1):
    for j in range(4,0,-1):
        if j<=i:
            print("* ",end='')
        else:
            print("  ",end="")
    print()

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [62]:
# Diamond pattern

for i in range(1,5):
    for j in range(4,0,-1):
        if j<=i:
            print("* ",end='')
        else:
            print("  ",end='')
    

    for j in range(2,5):
        if j<=i:
            print("* ",end='')
        else:
            print("  ",end='')
    print()

for i in range(3,-1,-1):
    for j in range(4,0,-1):
        if(j<=i):
             print("* ",end='')
        else:
            print("  ",end='')

    for j in range(2,5):
        if j<=i:
            print("* ",end='')
        else:
            print("  ",end='')
    print()

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
#Half pyramid

for i in range(5):

    temp = 1
    for j in range(5):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
# Inverted half pyramid

for i in range(5,0,-1):

    temp = 1
    for j in range(1,6):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')
        
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [3]:
# Hollow half pyramid

for i in range(1,6):
    for j in range(1,6):
        if j==i or j==1 or i==5:
            print(j,end=' ')
            
        else:
            print(' ',end=' ')
            
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [4]:
#Full pyramid

for i in range(1,6):

    temp = i
    for j in range(5,0,-1):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    temp-=2
    for j in range(2,6):
        if j<=i:
            print(temp,end=' ')
            temp-=1
        else:
            print(" ",end=' ')
    print()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [5]:
# Hollow full pyramid

for i in range(1,6):
    temp =  1
    for j in range(5,0,-1):
        if(i==j or (i==5 and j%2!=0)):
            print(temp,end='')
            temp+=1
        else:
            print(' ',end='')
    
    for j in range(2,6):
        
        if(i==j):
            print(j,end='')

        elif(i==5 and j%2!=0):
            print(temp,end='')
            temp+=1
            
        else:
            print(' ',end='')
            
    print()

    1
   1 2
  1   3
 1     4
1 2 3 4 5

In [ ]:
# Hollow right angle traingle

for i in range(1,6):
    for j in range(1,6):
        if(j==1 or i==5 or i==j):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

*
* *
*   *
*     *
* * * * *

In [7]:
# Hollow inverted half pyramid

temp2 = 2
for i in range(5,0,-1):
    temp=1
    for j in range(1,6):
        if(i==5):
            print(temp,end=' ')
            temp+=1
        elif(j==1):
            print(temp2,end=' ')
            temp2+=1
        elif(i==j):
            print(5,end=' ')
        else:
            print(" ",end=' ')
    print()

1 2 3 4 5
2     5
3   5
4 5
5

In [42]:
# Hollow inverted right angle traingle

for i in range(5,0,-1):
    for j in range(1,6):
        if(j==1 or i==5 or i==j):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

* * * * *
*     *
*   *
* *
*

In [9]:
#Numbered pyramid

temp = 1
for i in range(1,5):
    for j in range(4,0,-1):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(' ',end='')
    print()

   1
  2 3
 4 5 6
7 8 9 10

In [112]:
# Alphabet pyramid

for i in range(1,5):
    temp = 65
    for j in range(4,0,-1):
        if j<=i:
            print(chr(temp),end=' ')
            temp+=1
        else:
            print(' ',end='')
    print()

   A
  A B
 A B C
A B C D

In [ ]:
# Numbered diamond pattern

for i in range(1,6):
    temp =  1
    for j in range(5,0,-1):

        if(j<=i):
            print(temp,end=' ')
            temp+=1
        else:
            print(' ',end=' ')

    for j in range(2,6):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    print()

for i in range(4,0,-1):
    temp =  1
    for j in range(5,0,-1):

        if(j<=i):
            print(temp,end=' ')
            temp+=1
        else:
            print(' ',end=' ')

    for j in range(2,6):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [69]:
for i in range(5,0,-1):
    temp =  1
    for j in range(5,0,-1):

        if(j<=i):
            print(temp,end=' ')
            temp+=1
        else:
            print(' ',end=' ')

    for j in range(2,6):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    print()

for i in range(2,6):
    temp =  1
    for j in range(5,0,-1):

        if(j<=i):
            print(temp,end=' ')
            temp+=1
        else:
            print(' ',end=' ')

    for j in range(2,6):
        if j<=i:
            print(temp,end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [71]:
for i in range(5,0,-1):
    temp =  65
    for j in range(5,0,-1):

        if(j<=i):
            print(chr(temp),end=' ')
            temp+=1
        else:
            print(' ',end=' ')

    for j in range(2,6):
        if j<=i:
            print(chr(temp),end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    print()

for i in range(2,6):
    temp =  65
    for j in range(5,0,-1):

        if(j<=i):
            print(chr(temp),end=' ')
            temp+=1
        else:
            print(' ',end=' ')

    for j in range(2,6):
        if j<=i:
            print(chr(temp),end=' ')
            temp+=1
        else:
            print(" ",end=' ')

    print()

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [16]:
# Hollow square pattern

for i in range(5):
    for j in range(5):
        if (i==0 or j==4 or j==0 or i==4 ):
          print('*',end=' ')
        else:
           print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [12]:
# Hollow number square pattern

for i in range(1,6):
    for j in range(1,6):
        if (j==5 or j==1 or i==1 or i==5):
          print(j,end=' ')
        else:
           print(" ",end=' ')
    print()

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [14]:
for i in range(1,6):
    temp = 65
    for j in range(1,6):
        if (j==1 or j==5 or i==1 or i==5):
          print(chr(temp),end=' ')
          temp+=1
          
        else:
           print(" ",end=' ')
           temp+=1
    print()

A B C D E
A       E
A       E
A       E
A B C D E

In [99]:
# Hollow diamond pattern

for i in range(1,6):
    for j in range(5,0,-1):
        if(i==j):
            print('*',end=' ')
        else:
            print(" ",end=' ')

    for j in range(2,6):
        if(i==j):
            print('*',end=' ')
        else:
            print(" ",end=' ')
    print()

    
for i in range(4,0,-1):
    for j in range(5,0,-1):
        if(i==j):
                print('*',end=' ')
        else:
                print(" ",end=' ')

    for j in range(2,6):
        if(i==j):
                print('*',end=' ')
        else:
                print(" ",end=' ')
    print()

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [114]:
# Hollow diamond pattern
temp = 67
for i in range(1,6):
    
    for j in range(5,0,-1):
        if(i==j): 
             print('A',end=' ')  
        else: 
             print(" ",end=' ')
        
    for j in range(2,6):
        if(i==j):
            print(chr(temp),end=' ')
            temp+=2
        else:
            print(" ",end=' ')
    print()

t = 71  
for i in range(4,0,-1):
    for j in range(5,0,-1):
        if(i==j):
                print('A',end=' ')
        else:
                print(" ",end=' ')

    for j in range(2,6):
        if(i==j):
            print(chr(t),end=' ')
            t-=2
        else:
            print(" ",end=' ')
    print()

        A
      A   C
    A       E
  A           G
A               I
  A           G
    A       E
      A   C
        A

In [ ]:
# Butterfly pattern

for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print('*',end="")
        else:
            print(' ',end='')
    for j in range(5,0,-1):
        if j<=i:
            print('*',end="")
        else:
            print(' ',end='')
    print()

for i in range(4,0,-1):
    for j in range(1,6):
        if j<=i:
            print('*',end="")
        else:
            print(' ',end='')
    for j in range(5,0,-1):
        if j<=i:
            print('*',end="")
        else:
            print(' ',end='')
    print()

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [142]:

for i in range(5,0,-1):
    for j in range(1,6):
        if j<=i:
            print("*",end=' ')
        else:
            print("  ",end='')

    for j in range(5,0,-1):
        if(j<=i):
             print("*",end=' ')
        else:
            print("  ",end='')
    print()

for i in range(1,6):

    for j in range(1,6):
        if j<=i:
            print("*",end=' ')
        else:
            print("  ",end='')


    for j in range(5,0,-1):
        if j<=i:
            print("*",end=' ')
        else:
            print("  ",end='')
    
    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [136]:
for i in range(5):
    for s in range(1,i+1):
        print(' ',end='')
    for j in range(4,-1,-1):
        if(i==0 or i==j or j==4):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

* * * * *
 *     *
  *   *
   * *
    *

In [156]:
for i in range(1,6):
    temp =  65
    for s in range(1,i):
        print(' ',end='')

    for j in range(5,0,-1):
        if i==1 or j==5 or i==j:
            print(chr(temp),end=' ')
            temp+=1
        else:
            print(' ',end=' ')
            temp+=1
    print()

A B C D E
 A     D
  A   C
   A B
    A

In [16]:
# Pascal Traingle

newlist = []
for i in range(5): #rows
    temp=[]
    for s in range(0,5-i-1):  #spaces
        print(' ',end='')
    for k in range(i+1):    #columns
        if(k==0 or k==i):
            print('1',end=' ')
            temp.append(1)
        else:
            val = newlist[i-1][k] + newlist[i-1][k-1] 
            print(val,end=' ')
            temp.append(val)
    newlist.append(temp)
    print()

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [17]:
cindex = 2
newlist = [[1], [1, 1], [1, '*', 1], [1, '*', '*', 1], [1, '*', '*', '*', 1]]
x = newlist[2]
col = cindex-1
print(x,x[col],newlist[cindex-1][0],newlist[cindex-1][1])
x[col] = newlist[cindex-1][0]+newlist[cindex-1][1]
print(x)

[1, '*', 1] * 1 1
[1, 2, 1]